:root {
  font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(assets/fundopag.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 1280px;
  padding: 80px;
  background-color: #F5F4F0;
  border-radius: 48px; /*Não tinha borda no exemplo, mas achei que fica mais bonito com borda*/
  margin: 88px auto;
}

.divisor {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

img {
  border-radius: 28px;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 0.2rem;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 0.2rem; /* trecho para deixar mais próximo do headline*/
}

h3 {
  font-weight: bold;
  font-size: 28px;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
}

.headline {
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.2rem; /* trecho para deixar mais próximo do h1 e h2*/
  text-transform: uppercase;
}

p {
  color: #333333;
  font-size: 16px;
  font-weight: regular; 
}

.bom-para {
  font-weight: bold;
}

.lista-azul li::marker {
  color: black;
}

.lista-colorida li::marker {
  color: black;
}

.lista-azul {
  color: #0C51A7;
  font-weight: bold;
}

.lista-colorida li:nth-child(1) {
  color: #591B98;
  font-weight: bold;
}

.lista-colorida li:nth-child(2) {
  color: #E5245E;
  font-weight: bold;
}

.lista-colorida li:nth-child(3) {
  color: #E95E10;
  font-weight: bold;
}
  